.custom-card-header, .custom-card-header1 {
    position: relative;
    text-align: center;
}

.custom-card-header::before, .custom-card-header1::before {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: 8px;
    border-radius: 6px 6px 0 0;
}

.custom-card-header::before {
    background: #5551ff;
    top: -8px;
    left: -1px;
}

.custom-card-header1::before {
    background-color: #57c9e1;
    top: -8px;
    left: -1px;
}

/* Button styles */
.custom-button, .custom-button1 {
    color: #FFFFFF;
    display: inline-block;
    border-radius: 10px;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    width: 100%;
    cursor: pointer;
    transition: transform 200ms, background 200ms;
    text-align: center;
    position: relative;
}

.custom-button {
    background: #5551ff;
}

.custom-button1 {
    background-color: #57c9e1;
}

/* Header Styles */
.word-art-heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #ff4a4a, #1f48e6, #2ce7e6);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px; /* More spacing below the header */
}

/* Additional styling for cards */
.card {
    padding: 20px; /* Added padding for a cleaner look */
    transition: transform 0.2s; /* Transition effect */
}

.card:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
}
